.nav-stick {
    margin-bottom: 76px;
}
.navbar-ckl {
    img {
        max-height: 19px;
    }
    .navbar-brand {
        padding: 6px 0;
        height: 56px;
        img {
            max-height: 45px;
        }
    }
    background-color: white;
    border-bottom: solid 1px #979797;
    .nav > li > a {
        padding: 18px 18px;
        &:focus, &:hover {
            background-color: transparent;
        }
        font-size: 14px;
        color: #3E433E;
        font-family: 'Lato', sans-serif;
        font-weight: 17px;
    }
    .navbar-toggle {
        float: left;
        margin-left: 15px;
    }
}

@media (min-width: 750px) {
    .container > .navbar-collapse {
        width: 100%!important;
        left: 0px;
    }
}

@media (min-width: 320px) {
    .navbar-toggle {
        float: left;
        margin-left: 15px;
        display: block!important;
    }
    .navbar {
        border-radius: 0px;
    }
    .container > .navbar-collapse {
        position: absolute;
        width: 100%;
        float: left;
        padding: 15px 15px;
    }
    .navbar .container .navbar-header {
        display: block;
        float: none;
    }
    .navbar .container .navbar-brand {
        margin: 0 auto;
        display: block;
        width: 45px;
        float: none;
    }
    .navbar-nav {
        margin: 0;
    }
    .nav {
        & > li {
            float: none;
            position: relative;
            display: block;
        }
    }
    .navbar-right {
        float: none!important;
        margin: 0;
    }
}

@media (max-width: 1170px) {
    .nav-stick {
        margin-bottom: 55px;
    }
}

@media (min-width: 1170px) {
    .navbar-toggle {
        float: left;
        margin-left: 15px;
        display: none!important;
    }
    .navbar-collapse.collapse {
        margin-right: -15px;
        float: right!important;
        position: relative;
        width: auto!important;
        padding: 0px;
    }
    .nav {
        margin-right: 15px;
        & > li {
            float: left;
        }
    }
    .navbar .container .navbar-brand {
        margin-left: 0px;
        width: auto;
        float: left;
    }
    .navbar .container .navbar-header {
        float: left;
    }
}