{% load static %}

<!doctype html>
<html lang="en-US">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>CKL challenge</title>
        <meta name="description" content="CKL challenge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'css/application.min.css' %}">
    </head>
    <body>
        <nav class="cheesecake-nav">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <img src="{% static 'img/menu@2x.png' %}"/>
                    </button>
                    <a class="navbar-brand" href="#">
                        <img src="{% static 'img/logo@2x.png' %}"/>
                    </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="nav navbar-right">
                        <li><a href="../navbar-static-top/">POLITICS</a></li>
                        <li><a href="../navbar-fixed-top/">BUSINESS</a></li>
                        <li><a href="../navbar-fixed-top/">TECH</a></li>
                        <li><a href="../navbar-fixed-top/">SCIENCE</a></li>
                        <li><a href="../navbar-fixed-top/">SPORTS</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <div class="container content-roll">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="content-wrapper promo">
                        <div class="content-category politics">
                            <span>POLITICS</span>
                        </div>
                        <img src="/static/img/news_01@2x.png" alt="" class="content-picture img-responsive">
                        <h4 class="content-title">Obama Offers Hopeful Vision While Noting Nation’s Fears</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" width="45" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Creed Bratton</span>
                        </div>
                        <p class="excerpt">
                            In his last State of the Union address, President Obama sought to paint a hopeful portrait. But he acknowledged that many Americans felt shut out of a political and economic system they view as rigged.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="content-wrapper">
                        <div class="content-category tech">
                            <span>TECH</span>
                        </div>
                        <img src="/static/img/news_02@2x.jpg" alt="" class="content-picture img-responsive">
                        <h4 class="content-title">Didi Kuaidi, The Company Beating Uber In China, Opens Its API To Third Party Apps</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" width="45" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Creed Bratton</span>
                        </div>
                        <p class="excerpt">
                            One day after Uber updated its API to add ‘content experiences’ for passengers, the U.S. company’s biggest rival — Didi Kuaidi in China — has opened its own platform up by releasing an SDK for developers and third-parties.
                        </p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <div class="content-wrapper">
                        <div class="content-category science">
                            <span>SCIENCE</span>
                        </div>
                        <img src="/static/img/news_03@2x.jpg" alt="" class="content-picture img-responsive">
                        <h4 class="content-title">NASA Formalizes Efforts To Protect Earth From Asteroids</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Alexandre Henrique Shailesh Zeta-Jones</span>
                        </div>
                        <p class="excerpt">
                            Last week, NASA announced a new program called the Planetary Defense Coordination Office (PDCO) which will coordinate NASA’s efforts for detecting and tracking near-Earth objects (NEOs). If a large object comes hurtling toward our planet…
                        </p>
                    </div>
                </div>
            </div>
            <hr class="main-topics-hr" />
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="content-wrapper">
                        <div class="content-category sports">
                            <span>SPORTS</span>
                        </div>
                        <h4 class="content-title">For Some Atlanta Hawks, a Revved-Up Game of Uno Is Diversion No. 1</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Creed Bratton</span>
                        </div>
                        <p class="excerpt">
                            The favored in-flight pastime of a group of players including Al Horford, Kent Bazemore and Dennis Schroder is a schoolchildren’s card game with some added twists.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="content-wrapper">
                        <div class="content-category tech">
                            <span>TECH</span>
                        </div>
                        <h4 class="content-title">Picking a Windows 10 Security Package</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Creed Bratton</span>
                        </div>
                        <p class="excerpt">
                            Oscar the Grouch has a recycling bin and Big Bird has moved to a tree as the children’s classic debuts on HBO, aiming at a generation that doesn’t distinguish between TV and mobile screens.
                        </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                    <div class="content-wrapper">
                        <div class="content-category science">
                            <span>SCIENCE</span>
                        </div>
                        <h4 class="content-title">As U.S. Modernizes Nuclear Weapons, ‘Smaller’ Leaves Some Uneasy</h4>
                        <div class="author-cta">
                            <img src="/static/img/author@2x.jpg" class="author-avatar img-circle" alt="">
                            <span class="author-by">by Creed Bratton</span>
                        </div>
                        <p class="excerpt">
                            The Energy Department and the Pentagon have been readying a weapon with a build-it-smaller approach, setting off a philosophical clash in the world of nuclear arms.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!--<div id="ckl-challenge-app"></div>-->
        <script src="{% static 'js/application.min.js' %}"></script>
    </body>
</html>
